  <form name="formteste" action="" method="post" >
  <br>
  
  <h1>Contato</h1>
  
  <p class="nome" ml-auto>
   <input type="text" name="nome" placeholder="informe seu nome" required="required">
   </p>
  
  <p class="email">
   <input type="email" name="email" placeholder="informe seu email" required="required">
   </p>
  
  <p class="assunto">
   <input type="text" name="assunto" placeholder="informe o assunto" required="required">
   </p>
  
  <p class="mensagem">
   <textarea name="mensagem" placeholder="deixe sua mensagem"></textarea>
   </p>
  
  <p class="enviar">
   <input type="submit" name="enviar" value="Enviar">
   </p>
  
  </form>
  
  